{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<style>
	.right {
		text-align: right;
	}
	.right > span {
		margin-right: 2em;
	}

	.main {
		width: 100vw;
		height: 90vh;
		display: flex;
		margin: 0;
		padding-top: 1rem;
		background: rgb(255,255,255);
		background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,74,255,0.4) 100%);
		justify-content: flex-start;
    	align-items: center;
    	flex-direction: column;
	}

	.card-stats {
		background: transparent;
		color: #fff;
		border-radius: 20px;
		padding: 0.5rem;
		background-color: rgba(0,0,0,0.4);
		margin: 2rem;
		margin-top: 7rem;
	}

	.card-stats th {
		padding-left: 2rem;
	}

	.card-stats * {
		color: #fff;
		text-align: center;
	}

	.table-stats {
		border-collapse: separate;
  		border-spacing: 0.5rem 1rem;
	}

	.card-stats-header {
		font-size: large;
		font-weight: bold;
		padding: 0.5rem;
	}

	.title {
		color: #fff;
		font-weight: lighter;
		font-size: 7rem;
		background: transparent;
		transition: all 0.5s;
		height: max-content;
		padding: 3rem;
		border-radius: 3rem;
	}

	.title:hover {
		backdrop-filter: saturate(2);
		font-size: 8rem;
	}

	.title::after {
        content: '';
        position: absolute;
        width: 80%;
        transform: scaleX(0);
        height: 5px;
        bottom: 1.7rem;
        left: 10%;
        border-radius: 3px;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      .title:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

	  .title-desc {
		color: rgba(255, 255, 255, 0.75);
		transition: all 0.5s;
		font-weight: lighter;
		font-size: 2rem;
	  }

	  .title-desc:hover {
		color: rgba(255, 255, 255, 1);
		font-size: 2.2rem;
	  }

	  .other-stats {
	    display: flex;
    	align-items: center;
    	height: max-content;
    	justify-content: center;
		padding: 2rem;
		width: 100vw;
		background-color: #14347E;
	  }

	  .other-stats div {
	  	margin-top: 0;
		margin-bottom: 0;
	  }

	  .save-now {
	  	margin: 0;
		width: fit-content;
		height: fit-content;
		padding: 2rem;
	  }

	  .disclaimer {
	  	background-color: #333;
		width: 100vw;
		margin-bottom: 0;
		padding: 2rem;
	  }

	  .disclaimer * {
	   margin: 0;
	   color: #fff;
	  }
</style>
<div class="main bg-dark">
<h1 class="title">GD History</h1>
<h2 class="title-desc">Documenting the things that have passed.</h2>
<div class="row">
	<div class="col mb-3">
		<div class="card-stats">
		<!--
			<div class="card-stats-header">
				Statistics
			</div>-->
			<div>
				<table class="table-stats">
				<thead>
					<tr>
						<th>Levels in our database</th>
						<th>Creators in our database</th>
						<th>Songs in our database</th>
						<th>Submitted save files</th>
						<th>Processed server requests</th>
						<th>Stored level strings</th>
					</tr>
				</thead>
					<tbody>
						<tr>
							<td><span id="level-count"></span></td>
							<td><span id="gduser-count"></span></td>
							<td><span id="song-count"></span></td>
							<td><span id="save-count"></span></td>
							<td><span id="request-count"></span></td>
							<td><span id="level-string-count"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="other-stats">
		<div class="card-stats">
			<div class="card-stats-header">
				Recently added levels
			</div>
			<div>
				<table class="table-stats">
					<tbody>
						{% for record in recently_added %}
						<tr>
							<td>{{ record.cache_level_name }}</td>
							<td><a href="{% url 'level' record.online_id %}">{{ record.online_id }}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	</div>
	<div class="card-stats save-now">
		<div class="card-stats-header">
			Save level now
	</div>
	<div>
			<form id="saveForm">
				<div class="mb-3">
					<label for="online_id" class="form-label">Level ID</label>
					<input class="form-control" type="text" id="online_id" name="online_id">
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>
	<div class="card-stats">
		<div class="card-stats-header">
			Recently updated levels
		</div>
		<div>
			<table class="table-stats">
				<tbody>
					{% for record in recently_updated %}
					<tr>
						<td>{{ record.level_name }}</td>
						<td><a href="{% url 'level' record.level.online_id %}">{{ record.level.online_id }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="disclaimer">
	<p class="lead">Disclaimer</p>
	<p>geometrydash.eu is <b>not</b> affiliated, associated, authorized, endorsed by, or in any way officially connected with <b>RobTop Games AB</b>, or any of its subsidiaries or its affiliates. All of the content on this website is <b>unofficial</b> and should be treated as such. The official RobTop Games AB website can be found at <a href="http://www.robtopgames.com">http://www.robtopgames.com</a>.</p>
</div>

<div class="modal" tabindex="-1" id="saveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save level now</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="modal-placeholder">Placeholder text for save level now feature.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	function numberWithCommas(x) {
	    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	$.getJSON('/api/v1/counts', function(counts) {
		$('#level-count').append(numberWithCommas(counts.level_count));
		$('#song-count').append(numberWithCommas(counts.song_count));
		$('#save-count').append(numberWithCommas(counts.save_count));
		$('#request-count').append(numberWithCommas(counts.request_count));
		$('#level-string-count').append(numberWithCommas(counts.level_string_count));
		$('#gduser-count').append(numberWithCommas(counts.gduser_count));
		//$('#rg-count').append(`<a data-toggle="tooltip" title="Total RG records (including no data): ${counts.rg_total}">${counts.rg_count}</a>`);
	});

	var saveModal = document.getElementById('saveModal')
	saveModal.addEventListener('show.bs.modal', function (event) {
		var paragraph = $('#modal-placeholder')
		paragraph.text('Queuing level for download')

		$.getJSON(`/api/v1/level/${online_id.value}/save`, function(result) {
			if(result["success"]) {
				paragraph.text('Level queued for download. Note that it might take a few hours for the updated record to appear on the website.')
			} else {
				switch(result['fail_reason']) {
					case 1:
						paragraph.text('Level already queued for download')
						break;
					default:
						paragraph.text('Failed to queue level (unknown reason)')
						break;
				}
			}
		})
		.fail(function() { 
			paragraph.text('Failed to queue level')
		});
	})

	const form = document.getElementById('saveForm');
	form.addEventListener('submit', (event) => {
	    event.preventDefault();
		var modal = new bootstrap.Modal(saveModal, {})
		modal.show()
	})

</script>
{% endblock %}